<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

does this work?

  <p>
    <% @user = User.find session[:user_id] %>  AND/OR <%= @user.email %> --- <%= @user.id %>
  </p>


<%= render :partial => 'form' %>
