<div class="row justify-content-center my-3">
  <h1>Create happiness. Save lives.</h1>
</div>

<div class="row">

  <div class="col-md-6">
    <h2>Cats</h2>
    <% @animals.each do |animal|  %>
      <% if animal.species == 'cat' %>
        <%= link_to cl_image_tag(animal.images.first, :class => 'thumb'), animal%>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>Dogs</h2>
    <% @animals.each do |animal|  %>
      <% if animal.species == 'dog' %>
        <%= link_to cl_image_tag(animal.images.first, :class => 'thumb'), animal%>
      <% end %>
    <% end %>
  </div>

</div>
