<h1>Create a new animal listing</h1>

<%= render :partial => 'form' %>


<div class="row justify-content-center my-3">
  <p class="my-3">Shelter not listed?
    <%= link_to "Add it here!", new_shelter_path %>
  </p>
</div>
